*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #EEEEEC;
    --button-color: #02776E;
    --button-text-color: #02776E;
    font-family: "Comfortaa", sans-serif;
    scroll-behavior: smooth;
}

img {
    display: block;
    width: 100%;
}

input {
    color: var(--button-color);
    padding: 8px 16px;
    border: 1px solid var(--button-color);
    border-color: var(--button-color);
    border-radius: 15px;
    cursor: pointer;
    user-select: none;
    font-family: "Comfortaa", sans-serif;
    font-size: 17px;
    max-width: 200px;
    background-color: var(--text-color);
    color: var(--button-color);
}

button {
    color: var(--button-color);
    border: 1px solid var(--button-color);
    border-color: var(--button-color);
    border-radius: 15px;
    cursor: pointer;
    padding: 8px 16px;
    user-select: none;
    font-family: "Comfortaa", sans-serif;
    font-size: 17px;
    max-width: 200px;
}

.todo__button {
    background-color: var(--button-color);
    color: var(--text-color);
}

.todo__button:hover {
    background-color: var(--text-color);
    color: var(--button-color);
}

h1 {
    font-family: "Comfortaa", sans-serif;
    font-weight: 1000;
    color: var(--button-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
}

body {
    background-color: var(--text-color);
}

.todo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px 0;
}

.todo__controls {
    font-size: 19px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    column-gap: 15px;
    align-items: center;
    border-radius: 30px;
    transition: background-color 200ms ease-in-out;
    list-style-type: none;
}

.todo__label {
    font-family: "Comfortaa", sans-serif;
    color: var(--button-color);
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.completed {
    transition: 0.2s;
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transition: 0.5s;
    transform: translateY(45rem) rotateZ(45deg);
    opacity: 0;
}

.listDropdown{
    color: var(--button-color);
    padding: 8px 16px;
    border: 1px solid var(--button-color);
    border-color: var(--button-color);
    border-radius: 15px;
    cursor: pointer;
    user-select: none;
    font-family: "Comfortaa", sans-serif;
    font-size: 17px;
    background-color: var(--text-color);
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  row-gap: 15px;
  margin: 30px;
}

#taskList{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  row-gap: 15px;
  margin: 15px;
}

#taskList li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  column-gap: 15px;
  color: var(--text-color);
  font-weight: 500;
  font-size: 20px;
  background-color: var(--button-color);
  padding: 10px;
  border-radius: 15px;
}